.title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	gap: var(--size-1x);
	padding: 0 var(--size-1x);
	margin-bottom: 1.5rem;

	h2 {
		color: var(--primary);
	}
}