@import '../../scss/mixins';

// Section
.section {
	.content {
		$padding: 2rem;
		position: relative;
		display: flex;
		flex-direction: row;
		gap: 1rem;

		> div {
			padding: 0;
		}

		h3 {
			position: relative;
			color: var(--primary);
		}

		.container {
			display: flex;
			flex-direction: column;
			gap: var(--size-1x);
			border: 1px solid var(--primary-dark);
			border-radius: 2rem;
			background: var(--background-dim2);
			box-shadow: 0 0 30px var(--background);
			overflow: hidden;

			padding: var(--padding);
			--padding: 2rem;
			--padding-left: var(--padding);
			--padding-top: var(--padding);
			--padding-right: var(--padding);
			--padding-bottom: var(--padding);

			&:not(:last-of-type) {
				margin-bottom: var(--size-1x);
			}
		}

		.copy {
			flex-basis: calc(60% + 1px);
			flex-grow: 1;
			flex-shrink: 1;
			text-align: center;
		}

		.icon {
			padding: 0.5rem;
			display: flex;
			align-items: center;
			background: var(--primary-dark);
			width: fit-content;
			border-radius: 0.5rem;
			aspect-ratio: 1;
			margin: 0 auto;

			svg {
				height: 1.6rem;
				color: var(--primary);

				path {
					fill: url(#fa-gradient) #fff;
				}
			}
		}

		.image {
			flex-basis: 50%;
			flex-grow: 1;
			flex-shrink: 1;
			position: relative;

			img {
				height: 100%;
				width: auto;
				aspect-ratio: 3/4;
				object-fit: cover;
				border-radius: 2rem;
			}

			&.technicalSvg {
				> span {
					position: relative !important;
					overflow: visible !important;
					height: 100% !important;
					z-index: -1;
				}
				img {
					overflow: visible;
					filter: brightness(100%);
				}
			}
		}
	}

	// Combine button styles into section scope
	.container,
	.buttonSection {
		display: flex;
		justify-content: center;
		gap: 20px;
		flex-wrap: wrap;
		margin-top: 10px;

		.copy {
			flex: 1 1 calc(50% - 20px);
			min-width: 300px;
			text-align: center;
		}

		.image {
			flex: 1 1 100%;
			margin-top: 20px;
			display: flex;
			justify-content: center;
		}
	}

	.button {
		background-color: var(--secondary);
		color: var(--background);
		padding: 12px 50px;
		border-radius: 50px;
		text-decoration: none;
		font-size: 20px;
		font-weight: bold;
		transition: background-color 1s ease;

		&:hover {
			background-color: var(--secondary-bright);
		}
	}
}

// Flex Container
.flexContainer {
	display: flex;
	justify-content: center;
	gap: 2rem;

	.leftColumn, .rightColumn {
		flex: 1;
		max-width: 500px;
		text-align: center;
	}

	.mergedBlock {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 1.5rem;
		background-color: var(--background-dim2);
		border-radius: 1rem;
		align-items: center;
	}
}

// Media Queries for Mobile
@include media($max: $mobile) {
	.section,
	.flexContainer {
		.content,
		.flexContainer {
			flex-direction: column;
			align-items: center;

			> div {
				flex-basis: 100% !important;
			}
		}

		.container {
			padding: 2rem 1.25rem;
		}

		.copy,
		.leftColumn,
		.rightColumn {
			width: 100%;
			padding: 0;
			text-align: center;
		}

		.mergedBlock,
		.image {
			margin-bottom: 2rem;

			img {
				width: 100%;
				height: auto;
			}
		}

		.image.technicalSvg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			height: 140%;
			z-index: -1;
		}
	}
}
